body{
  background-color: #0B1120;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
nav{
  margin-top: 20px;
  height: 51px;
  display: flex;
  justify-content: space-between;
}
ul{
  justify-content:first baseline;
  list-style: none;
}
li{
  font-size: x-large;
  margin-right: 20px; 
  color: #61DAFB;
  display: inline;
}
.links{
  display: flex;
  align-items: center;
}
.links ul li a {
  text-decoration: none;
  color: #61DAFB;
}
.hero{
  display: flex;
  width: 100%;
  margin-top: 10px;
  /* background-color: #61DAFB; */
}
.about{
  height: 600px;
  width:60%;
  border: 2px solid #283144;
  box-shadow: 0 10px 10px #374157;
  border-radius: 3%;
}
.closebtn {
  background-color: #f56354;
  border-radius: 30px;
  height: 1em;
  width: 1em;
}

.wintopcon {
  display: flex;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  gap: 10px;
  padding: 15px;
}

.cursor {
    animation: blink 1s steps(1) infinite;
    animation-delay: 3.2s;
    color: #7f7f7f;
    font-size: 4rem;
    margin: 0;
}

.desc{
  margin: 10px;
  text-align: justify;
  color: #61DAFB;
}

.csr{
  animation: blin 2s steps(1) infinite;
  animation-delay: 3.2s;
  color: rgb(250, 191, 47);
  margin: 0;
}

.resume{
  margin-left: 10px;
  padding: 10px 20px;    /* increased padding = bigger button */
  font-size: 25px;       /* increased text size */
  position: absolute;
  bottom: 70px;
}
.abt{
  display: flex;
}
.d1{
  width: 60%;
}
.d2{
  width:40%;
  background-color: #0B1625;
  overflow: hidden;
}
.d2 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 5px solid rgba(255, 255, 255, 0.3);
  border-radius: 3%;
}

.image{
  margin: auto;
}
.typewriter{
  font-size: 4em;
  color: rgb(169,169,169);
}
.skill-heading{
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  background-color: #091020;
  color: #61DAFB;
  text-decoration:underline;
}

.skill {
  display: flex;
  flex-direction: column; /* stack rows vertically */
  gap: 20px; /* space between each row */
}
.row{
  display: flex;
  justify-content: space-between;
  
  gap: 50px;
}
.col{
  align-items: center;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: #7d7d7d0b;
  border-radius: 20px;
  box-shadow: 0 0 8px #374157;
  display: flex;
  flex-direction: column;
  height: 80%;
  padding: 20px;
  padding-inline: 20px;
  transition-duration: .2s;
  width: 30%;
}
.col p{
  color: #61DAFB;
  text-align: justify;
  
}
.col h6{
  color: #61DAFB;
  text-decoration: underline;
}
.imgsize{
  height: 70px;
  width: 70px;
}

.cert-col{
  align-items: center;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: #7d7d7d0b;
  /* border-radius: 20px; */
  box-shadow: 0 0 8px #374157;
  display: flex;
  flex-direction: column;
  /* height: %; */
  transition-duration: .2s;
  width: 45%;
  overflow: hidden;
}


.cert-col img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.prj-col{
  align-items: center;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: #7d7d7d0b;
  /* border-radius: 20px; */
  box-shadow: 0 0 8px #374157;
  display: flex;
  flex-direction: column;
  /* height: %; */
  transition-duration: .2s;
  width: 22%;
  overflow: hidden;
}

.r{
  display: flex;
  justify-content: space-evenly;
}

.prj-col{
  aspect-ratio: 1/1;
  overflow: hidden;
  color: #61DAFB;
}
.prj-col h5{
  margin-bottom: 5px;
  
}
.prj-col p{
  margin-top: 0;
}

.prj-col button{
  position: absolute;
  bottom: 10px;
}

.contact{
  margin-top: 70px;
  margin-bottom: 70px;
  text-align: center;
  background-color: #091020;
  color: #61DAFB;
  
}
.contact h1{
  font-size:5em ;
}
.visitcon{
  display: flex;
}

.msg{
  width: 35%;
  margin: 5%;
  align-items: flex-end;
  background-color: rgb(9, 13, 25);
  box-shadow: rgb(28, 43, 80) 0px 0px 50px;
  display: flex;
  border: 2px solid rgb(173, 216, 230);
  border-image: initial;
  border-radius: 20px;
  aspect-ratio: 3/2;
  align-items: center;
  color: #61DAFB;
}
.msgsend{
  display: flex;
  width: 35%;
  justify-content:space-between;
  color: #61DAFB;
}

.msg-col{
  align-items: center;
  
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 40%;
  aspect-ratio: 1/1;
  
  transition-duration: .2s;
  
 
}
.msg-col h3{
  margin-bottom: 5px;
}
.msg-col p{
  margin-top: 0;
}
.msg-col i{
  font-size: 40px;
  margin-bottom: 5px;
}
button{
  margin-top:3px;
  border-radius: 15%;
  margin-bottom: 3px;
  background-color: #0B1120;
  color: #61DAFB;
}

@keyframes blink {
  50% {
    opacity: 0; /* hide cursor for half the duration */
  }
}
@keyframes blin {
  25% {
    opacity: 40%; /* hide cursor for half the duration */
  }
}